*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// MY THEME COLORS
$dark-red:     #8b0614 ;
$red:     hsl(354, 100%, 50%);
$footer: #151414 ;

// WHITE AND GRAY COLORS
$white:    #fff ;
$gray-100: #f8f9fa ;
$gray-200: #e9ecef ;
$gray-300: #dee2e6 ;
$gray-400: #ced4da ;
$gray-500: #adb5bd ;
$gray-600: #6c757d ;
$gray-700: #495057 ;
$gray-800: #343a40 ;
$gray-900: #212529 ;
$black:    #000 ;                                                                                                       


$main-blue: #45567d;

$primary:       $red ;
$secondary:     $dark-red ;


// IMPORT BOOTSTRAP

@import "../node_modules/bootstrap/scss/bootstrap.scss";